@media (max-width: 1400px) {
	.container {
		margin-left: 55px;
		&_menu {
			margin-left: 55px;
		}
	}

	.title {
		&_choise {
			font-size: 40px;
		}
		&_workProcess {
			padding-left: 55px;
		}
	}

	.form {
		&_invitation {
			margin-top: 77px;
		}
		&__approval_invitation {
			font-size: 12px;
		}
	}

	.header {
		&__wrapperSubmenu {
			padding-right: 85px;
			padding-left: 90px;
		}
		&__itemCatalog {
			padding-right: 16px;
			padding-left: 16px;
		}
	}

	.socialNetwork {
		min-height: 830px;
		&__rectangle {
			width: 285px;
			height: 586px;
			top: -38px;
		}
		&__gallery-item {
			width: 158px;
			height: 158px;
		}
		&__rightColumn {
			margin-left: 78px;
		}
		&__subscribe {
			margin-top: 64px;
		}
	}

	.createKitchen {
		&__column {
			width: 60%;
		}
	}

	.terms {
		&__text {
			font-size: 14px;
		}
	}

	.advertising {
		min-height: 1231px;
	}

	.stock {
		&__wrapperDiscount {
			width: 519px;
			height: 609px;
		}
		&__discountTitle {
			font-size: 64px;

		}
		&__wrapperPresent {
			width: 583px;
			height: 336px;
			right: -550px;
		}
		&__wrapperTitle {
			width: 519px;
			height: 274px;
			margin-top: 63px;
			margin-left: 0;
		}
		&__presentTitle {
			font-size: 64px;
		}
		&__presentText {
			margin-top: 17px;
			padding-left: 80px;
			padding-right: 80px;
		}
		&__circle {
			width: 146px;
			height: 146px;
			bottom: -93px;
			right: 260px;
			font-size: 16px;
		}
		&__titleText {
			padding-left: 32px;
			padding-top: 213px;
			font-size: 20px;
		}
	}
	.catalog {
		height: 1063px;
		display: grid;
		grid-gap: 8px;
		background-color: #fafafa;
		grid-template-rows:  repeat(27,1fr);
		grid-template-columns: 6fr 4fr;
		grid-template-areas:
        'sale appliances'
				'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
				'sale case'
				'sale case'
				'sale case'
				'sale case'
        'countertop case'
				'countertop case'
				'countertop case'
				'countertop case'
				'countertop case'
				'countertop case'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
        'kitchen kitchen';

		&__linkWrapper	{
			display: none;
		}
		&__linkSale {
			padding-top: 450px;
		}
		&__linkAppliances {
			padding-top: 277px;
		}
		&__linkCountertop {
			padding-top: 165px;
		}
		&__linkCase{
			padding-top: 325px;
		}
		&__linkKitchen {
			padding-top: 243px;
			margin-left: 140px;
		}
	}

	.productCards {
		&__tab {
			padding-right: 44px;
		}
	}

	.designs {
		min-height: 620px;
		&__wrapperImg1 {
			top: 46px;
			right: -76px;
		}
		&__wrapperImg2 {
			right: 95px;
		}
	}

	.workProcess {
		&__item {
			height: 530px;
			width: 344px;
		}
	}

	.reviews {
		min-height: 600px;
		&__item {
			width: 672px;
			height: 260px;
		}
		&__leftColumn {
			width: 208px;
			height: 208px;
		}
		&__rightColumn {
			margin: 26px 35px 29px 0;
		}
		&__link {
			font-size: 16px;
		}
		&__description {
			margin-top: 16px;
		}
	}

	.ratings {
		&__header_1 {
			padding-right: 0px;
		}
		&__header_3 {
			padding-right: 0px;
		}
		&__company {
			margin-right: 60px;
		}
	}
	.descrText {
		&_socialNetwork {
			width: 430px;
			margin-top: 96px;
		}
		&_invitation {
			margin-top: 35px;
			width: 410px;
		}
	}

	.choise {
		&__titleBlock {
			width: 733px;
			height: 54px;
		}
		&__subtitle {
			font-size: 40px;
		}
		&__sliderItem {
			margin-right: 19px;
			&_even {
				margin-bottom: 19px;
			}
		}
		&__slider-img {
			object-fit: cover;
			width: 530px;
			height: 313px;
		}
		&__slider-imgLong {
			object-fit: cover;
			width: 537px;
			height: 645px;
		}
		&__sliderItem-video {
			width: 530px;
			height: 313px;
		}
		&__svg {
			padding-bottom: 0;
		}
	}

	.slider {
		&__circle {
			width: 54px;
			height: 54px;
		}
		&__arrowLeft {
			width: 10px;
			height: 19px;
		}
		&__arrowLeft-white {
			width: 10px;
			height: 19px;
		}
		&__arrowRight {
			width: 10px;
			height: 19px;
		}
		&__arrowRight-white {
			width: 10px;
			height: 19px;
		}
	}

	.specialOffer {
		min-height: 750px;
		&__content {
			top: 40px;
			left: 52px;
		}
		&__img {
			width: 464px;
			height: 266px;
		}
		&__titleItem {
			font-size: 40px;
		}
		&__divider {
			width: 76px;
			margin-top: 44px;
		}
		&__text {
			font-size: 18px;
		}
	}

	.invitation {
		&__photoIMG {
			width: 365px;
			height: 500px;
		}
	}

	.footer {
		&__socialIcon {
			width: 38px;
			height: 38px;
		}
		&__menu {
			padding-left: 55px;
			padding-right: 55px;
			font-size: 15px;
		}
		&__contacts {
			right: 10px;
		}
		&__PS {
			padding-left: 55px;
			padding-right: 55px;
		}
	}
}
@media (max-width: 1279px) {
	.title {
		font-size: 55px;
		&_choise {
			font-size: 40px;
		}
	}
	.descrText {
		&_socialNetwork {
			width: 330px;
			margin-top: 55px;
		}
		&_designs {
			max-width: 329px;
		}
	}
	.button {
		&_stock {
			margin-top: 23px;
			margin-left: 41px;
			width: 231px;
			height: 60px;
			font-size: 14px;
		}
		&_invitation {
			width: 100%;
			max-width: 500px;
		}
		&_modal {
			width: 436px;
		}
		&_customKitchen {
			bottom: 94px;
		}
	}

	.header {
		&__menu {
			font-size: 11px;
		}
		&__item {
			padding-right: 10px;
			padding-left: 10px;
		}
		&__call {
			margin-left: 25px;
		}
		&__textPhone {
			margin-right: 15px;
		}
		&__linkCatalog {
			font-size: 12px;
		}
		&__itemCatalog {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.terms {
		&__row {
			padding: 75px 30px 35px 0px;
		}
		&__subtitle {
			font-size: 20px;
		}
	}

	.form {
		&__wrapperButton {
			width: 100%;
			justify-content: center;
			margin-top: 20px;
		}
		&__block {
			flex-wrap: wrap;
		}
		&__inputBlock {
			width: 48%;
		}
		&__inputBlock_right {
			margin-right: 0;
			margin-left: 0;
		}
		&__wrapperApproval_invitation {
			justify-content: center;
		}
		&__approval_invitation {
			width: 100%;
		}
		&_modal {
			margin-top: 40px;
		}
	}

	.advertising {
		min-height: 900px;
	}

	.sidebar {
		&__text {
			font-size: 254px;
			margin-bottom: -355px;
		}
	}

	.stock {
		&__wrapperDiscount {
			margin-top: 32px;
			width: 396px;
			height: 465px;
		}
		&__wrapperPresent {
			width: 504px;
			height: 290px;
			right: -403px;
			top: 378px;
		}
		&__wrapperTitle {
			width: 369px;
			height: 195px;
			margin-top: 84px;
		}
		&__discountTitle {
			font-size: 45px;
			padding-top: 48px;
			padding-left: 41px;
			padding-right: 106px;
		}
		&__discountText {
			margin-top: 7px;
			padding-left: 41px;
		}
		&__presentTitle {
			font-size: 45px;
		}
		&__circle {
			width: 100px;
			height: 100px;
			bottom: -58px;
			right: 312px;
			font-size: 12px;
		}
		&__titleText {
			padding-top: 158px;
		}
	}

	.workProcess {
		&__item {
			width: 318px;
		}
	}
	.socialNetwork {
		&__gallery {
			margin-left: 40px;
		}
		&__rectangle {
			width: 241px;
		}
		&__blockIcon {
			margin-bottom: 7px;
		}
	}
	.customKitchen {
		&__photo {
			width: 322px;
		}
		&__wrapperSignature {
			flex-direction: column-reverse;
			align-items: flex-end;
			margin-right: 50px;
		}
		&__blockName {
			margin-top: 32px;
			margin-bottom: 30px;
			text-align: right;
		}
	}
	.designs {
		&__title {
			font-size: 118px;
			top: 120px;
		}
		&__wrapperImg1 {
			width: 301px;
			height: 323px;
			right: 0;
			top: 150px;
		}
		&__wrapperImg2 {
			width: 371px;
			height: 251px;
		}
	}
	.invitation {
		&__photoIMG {
			height: 588px;
		}
	}
	.footer {
		&__socialIcon {
			width: 36px;
			height: 36px;
		}
		&__socialIcons {
			margin-top: 20px;
		}
		&__tel {
			font-size: 16px;
		}
		&__schedule {
			font-size: 15px;
		}
		&__menu {
			font-size: 12px;
		}
		&__links {
			font-size: 12px;
		}
		&__phone {
			text-align: end;
		}
		&__socialIcons {
			justify-content: flex-end;
		}
		&__PS {
			font-size: 11px;
		}
	}
	.modal {
		&__window {
			width: 900px;
			height: 600px;
		}
		&__title {
			padding-top: 45px;
			font-size: 64px;
		}
		&__descr {
			font-size: 14px;
		}
	}
	.productCards {
		padding-bottom: 0;
	}
}