@charset "UTF-8";
body {
  font-family: 'Averta';
  margin: 0; }

.headerCreateKitchen {
  position: relative; }

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../fonts/CormorantGaramond-Light.eot");
  src: url("../fonts/CormorantGaramond-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond-Light.woff") format("woff"), url("../fonts/CormorantGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../fonts/CormorantGaramond-Medium.eot");
  src: url("../fonts/CormorantGaramond-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond-Medium.woff") format("woff"), url("../fonts/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Averta';
  src: local("../fonts/Averta Regular"), local("Averta-Regular"), url("../fonts/AvertaDemoPE-Regular.woff2") format("woff2"), url("../fonts/AvertaDemoPE-Regular.woff") format("woff"), url("../fonts/AvertaDemoPE-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.header {
  width: 100%;
  position: fixed;
  height: 139px;
  z-index: 999; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 40px;
    color: #333333;
    background: rgba(240, 240, 240, 0.88); }
  .header__select {
    background: rgba(240, 240, 240, 0.88);
    border: none;
    position: relative;
    display: inline-block; }
    .header__select:after {
      content: "▼";
      padding: 0 8px;
      font-size: 12px;
      position: absolute;
      right: 8px;
      top: 4px;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
      box-sizing: border-box; }
  .header__navbar {
    margin-left: 162px;
    display: flex;
    justify-content: space-between; }
  .header__item {
    text-decoration: none;
    color: #333333;
    padding-right: 17px;
    padding-left: 18px; }
  .header__call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 98px; }
  .header__wrapperContacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 178px; }
  .header__mailto {
    text-decoration: none;
    color: #333333; }
  .header__tel {
    text-decoration: none;
    color: #333333; }
  .header__textPhone {
    margin-right: 37px; }
  .header__subheader {
    min-height: 99px;
    padding-left: 161px;
    padding-right: 159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; }
  .header__catalog {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    padding-left: 95px;
    padding-top: 20px; }
  .header__catalogText {
    margin-left: 21px;
    font-size: 18px; }
  .header__devider {
    width: 185px;
    height: 0px;
    border: 1px solid rgba(21, 21, 21, 0.22);
    margin-top: 5px; }
  .header__textCalculate {
    font-size: 18px; }

.createKitchen {
  margin-top: 139px;
  position: absolute;
  width: 100%;
  z-index: 5; }
  .createKitchen__wrapper {
    min-height: 762px;
    background: url(../img/createKitchen.png) center center/cover no-repeat; }
  .createKitchen__row {
    min-height: 104px; }
  .createKitchen__column {
    min-height: 762px;
    padding-left: 158px;
    width: 40%;
    background: rgba(255, 255, 255, 0.8); }
  .createKitchen__title {
    margin: 0;
    padding-top: 90px;
    font-family: CormorantGaramond;
    font-weight: 500;
    font-size: 72px;
    line-height: 117.3%;
    color: #181818; }
  .createKitchen__descr {
    margin-top: 46px;
    padding-right: 161px;
    font-size: 16px;
    line-height: 140%;
    color: #494949; }
  .createKitchen__form {
    margin-top: 60px;
    padding-right: 161px; }
  .createKitchen__inputBlocks {
    display: flex;
    justify-content: space-between; }
  .createKitchen__inputBlock {
    width: 100%; }
    .createKitchen__inputBlock:nth-child(2n) {
      margin-left: 35px; }
  .createKitchen__label {
    padding-left: 24px;
    display: block; }
  .createKitchen__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #9D9D9D;
    width: 100%;
    padding-top: 8px; }
  .createKitchen__button {
    margin-top: 40px;
    width: 606px;
    height: 70px;
    background-color: #FF3D00;
    border: none;
    font-size: 20px;
    color: #ffffff; }
  .createKitchen__order {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start; }
  .createKitchen__year {
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    display: block;
    margin: auto 0; }
  .createKitchen__numberOrder {
    font-size: 45px;
    line-height: 56px;
    color: #373737;
    margin-left: 93px; }

.terms {
  padding-top: 901px;
  z-index: 6;
  background-color: #ffffff; }
  .terms__block {
    min-height: 104px;
    padding-left: 32px;
    padding-right: 104px;
    border-left: 2px solid rgba(50, 50, 50, 0.08); }
    .terms__block:nth-child(4n) {
      padding-right: 0; }
  .terms__subtitle {
    margin-top: 0;
    font-size: 20px;
    color: #131313; }
  .terms__text {
    margin-top: 19px;
    font-size: 16px;
    line-height: 20px;
    color: #868686; }
  .terms__row {
    padding-right: 235px;
    padding-left: 270px;
    padding-top: 65px;
    padding-bottom: 66px;
    display: flex;
    justify-content: space-between;
    text-align: left; }

.advertising {
  background: #F2F2F2;
  min-height: 1368px;
  display: flex;
  flex-direction: row;
  overflow: hidden; }

.sidebar {
  width: 536px;
  min-height: 1368px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1; }
  .sidebar__text {
    margin-bottom: -510px;
    transform-origin: 11% 0;
    white-space: nowrap;
    font-family: CormorantGaramond;
    font-weight: 300;
    font-size: 350px;
    line-height: 110.8%;
    color: #272727;
    display: block;
    transform: rotate(-90deg); }

.stock {
  position: relative; }
  .stock__discount {
    width: 551px;
    height: 648px;
    background: url(../img/advertising/discount.png) center center/cover no-repeat; }
  .stock__discountTitle {
    padding-top: 76px;
    padding-left: 83px;
    padding-right: 96px;
    margin-top: 71px;
    font-family: CormorantGaramond;
    font-weight: 300;
    font-size: 72px;
    line-height: 107.8%;
    color: #FFFFFF;
    letter-spacing: -0.025em; }
  .stock__discountText {
    margin-top: -41px;
    padding-left: 83px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #E3E3E3;
    padding-right: 129px; }
  .stock__discountButton {
    margin-top: 64px;
    margin-left: 83px;
    width: 293px;
    height: 70px;
    background: #F1F1F1;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #323232;
    border: none; }
  .stock__wrapperDiscount {
    width: 551px;
    height: 648px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 92.71%); }
  .stock__wrapperTitle {
    margin-top: 181px;
    margin-left: 27px;
    width: 631px;
    height: 333px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 92.71%); }
  .stock__wrapperPresent {
    position: absolute;
    width: 675px;
    height: 388px;
    right: -526px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 92.71%);
    bottom: 419px; }
  .stock__present {
    position: relative;
    width: 675px;
    height: 388px;
    background: url(../img/advertising/present.png) center center/cover no-repeat; }
  .stock__presentTitle {
    padding-top: 47px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: CormorantGaramond;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 107.8%;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    text-align: center; }
  .stock__presentText {
    margin-top: 47px;
    padding-left: 111px;
    padding-right: 112px;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.035em;
    color: #E3E3E3; }
  .stock__title {
    width: 631px;
    height: 333px;
    background: url(../img/advertising/titleStock.png) center center/cover no-repeat; }
  .stock__titleText {
    padding-left: 38px;
    padding-top: 272px;
    font-size: 25px;
    line-height: 110.8%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .stock__circle {
    position: absolute;
    bottom: -14px;
    right: -91px;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    background-color: #FF3D00;
    font-size: 18px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }

.catalog {
  min-height: 887px;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 37.6% 26.2% 35.3%;
  grid-template-areas: 'sale appliances kitchen' 'sale appliances kitchen' 'sale case kitchen' 'countertop case kitchen'; }
  .catalog__sale {
    grid-area: sale;
    background: url(../img/catalog/sale.png) center center/cover no-repeat; }
  .catalog__linkSale {
    display: block;
    padding-top: 330px;
    margin-left: 49px;
    text-decoration: none;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .catalog__linkChoose {
    margin-left: 49px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 252%;
    letter-spacing: 0.035em;
    color: #FFFFFF; }
  .catalog__linkWrapper {
    margin-top: 29px; }
  .catalog__appliances {
    grid-area: appliances;
    background: url(../img/catalog/appliances.png) center center/cover no-repeat; }
  .catalog__linkAppliances {
    display: block;
    padding-top: 350px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .catalog__kitchen {
    grid-area: kitchen;
    background: url(../img/catalog/kitchen.png) center center/cover no-repeat; }
  .catalog__linkKitchen {
    display: block;
    padding-top: 807px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .catalog__countertop {
    grid-area: countertop;
    background: url(../img/catalog/countertop.png) center center/cover no-repeat; }
  .catalog__linkCountertop {
    display: block;
    text-decoration: none;
    padding-top: 137px;
    margin-left: 49px;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .catalog__case {
    grid-area: case;
    background: url(../img/catalog/case.png) center center/cover no-repeat; }
  .catalog__linkCase {
    display: block;
    text-decoration: none;
    padding-top: 360px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }

.productCards {
  min-height: 1847px;
  padding-top: 109px;
  padding-bottom: 109px; }
  .productCards__title {
    padding-right: 160px;
    padding-left: 160px;
    margin-bottom: 0;
    font-family: CormorantGaramond;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 117.3%;
    letter-spacing: -0.025em;
    color: #141414; }
  .productCards__tabs {
    margin-right: 160px;
    margin-left: 160px;
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0; }
  .productCards__tab {
    list-style-type: none; }
  .productCards__tabsLink {
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #151515; }
  .productCards__content {
    padding-right: 128px;
    padding-left: 128px;
    margin-top: -16px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
  .productCards__card {
    margin-top: 70px;
    margin-left: 32px;
    margin-right: 32px;
    width: 490px;
    height: 663px; }
  .productCards__wrapperItem1 {
    overflow: hidden;
    width: 490px;
    height: 586px;
    background: url(../img/productCards/photo1.png) center center/cover no-repeat; }
  .productCards__blockItem {
    width: 200%; }
    .productCards__blockItem:hover .productCards__item {
      transform: translateX(0); }
  .productCards__wrapperItem2 {
    overflow: hidden;
    width: 490px;
    height: 586px;
    background: url(../img/productCards/photo2.png) center center/cover no-repeat; }
  .productCards__wrapperItem3 {
    overflow: hidden;
    width: 490px;
    height: 586px;
    background: url(../img/productCards/photo3.png) center center/cover no-repeat; }
  .productCards__wrapperItem4 {
    overflow: hidden;
    width: 490px;
    height: 586px;
    background: url(../img/productCards/photo4.png) center center/cover no-repeat; }
  .productCards__wrapperItem5 {
    overflow: hidden;
    width: 490px;
    height: 586px;
    background: url(../img/productCards/photo5.png) center center/cover no-repeat; }
  .productCards__wrapperItem6 {
    width: 490px;
    height: 628px; }
  .productCards__item {
    position: relative;
    width: 50%;
    height: 586px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: -82px;
    transform: translateX(-100%);
    transition: .5s all; }
  .productCards__itemAll {
    background-color: #FF3D00;
    width: 490px;
    height: 628px; }
  .productCards__calculateModel {
    position: absolute;
    top: 68px;
    right: 21px;
    width: 39px;
    height: 39px;
    color: #292929;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .productCards__wrapperProperty {
    padding-top: 83px;
    margin-left: 36px; }
  .productCards__property {
    margin-top: 44px;
    max-width: 203px; }
  .productCards__titleProperty {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #323232; }
  .productCards__textProperty {
    margin-top: 5px;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #585858; }
  .productCards__rectangle {
    margin-top: 39px;
    width: 490px;
    height: 70px;
    background: #FF3D00;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .productCards__footer {
    margin-top: 23px;
    display: flex;
    justify-content: space-between; }
  .productCards__titleProduct {
    margin: 0;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #323232; }
  .productCards__descriptionProduct {
    margin-top: 4px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #323232; }
  .productCards__priceProduct {
    font-size: 20px;
    line-height: 120.3%;
    text-align: right;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #323232; }
  .productCards__linkAllModel {
    padding-right: 12px;
    font-size: 20px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .productCards__nameModel {
    padding-top: 135px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: CormorantGaramond;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 107.8%;
    letter-spacing: -0.025em;
    color: #FFFFFF; }
  .productCards__textSale {
    margin-top: 19px;
    text-align: center;
    font-size: 16px;
    line-height: 120.3%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .productCards__watchAll {
    display: flex;
    justify-content: center;
    margin-top: 270px; }

.designs {
  position: relative;
  min-height: 725px; }
  .designs__title {
    margin-left: 49px;
    margin-bottom: 0;
    font-family: CormorantGaramond;
    font-style: normal;
    font-weight: 300;
    font-size: 250px;
    line-height: 107.8%;
    letter-spacing: -0.025em;
    color: #FF3D00; }
  .designs__text {
    margin-top: 174px;
    margin-left: 166px;
    max-width: 454px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #666666; }
  .designs__button {
    margin-top: 79px;
    margin-left: 166px;
    width: 456px;
    height: 70px;
    background-color: #232323;
    font-size: 20px;
    line-height: 120.3%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none; }
  .designs__wrapperImg1 {
    position: absolute;
    top: 16px;
    right: 0;
    z-index: -15; }
  .designs__wrapperImg2 {
    position: absolute;
    bottom: 0;
    right: 308px;
    z-index: -5; }
