.advertising {
    background-color: #F2F2F2;
    min-height: 1368px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.sidebar {
    width: 536px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
    &__text {
        margin-bottom: -510px;
        transform-origin: 11% 0;
        white-space: nowrap;
        font-family: CormorantGaramond;
        font-weight: 300;
        font-size: 350px;
        line-height: 110.8%;
        color: #272727;
        display: block;
        transform: rotate(-90deg);
    }
}
.stock {
    position: relative;
    &__discount {
        width: 100%;
        height: 100%;
        background: url(../img/advertising/discount.png) center center/cover no-repeat;
    }
    &__discountTitle {
        padding-top: 76px;
        padding-left: 83px;
        padding-right: 96px;
        font-family: CormorantGaramond;
        font-weight: 300;
        font-size: 72px;
        line-height: 107.8%;
        color: #FFFFFF;
        letter-spacing: -0.025em;
    }
    &__discountText {
        margin-top: 40px;
        padding-left: 83px;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.035em;
        color: #E3E3E3;
        padding-right: 129px;
    }
    &__wrapperDiscount {
				margin-top: 121px;
        width: 551px;
        height: 648px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 92.71%);
    }
    &__wrapperTitle {
        margin-top: 181px;
        margin-left: 27px;
        width: 631px;
        height: 333px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 92.71%);
    }
    &__wrapperPresent {
        position: absolute;
        width: 675px;
        height: 388px;
        right: -526px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 92.71%);
        bottom: 419px;
    }
    &__present {
        position: relative;
        width: 100%;
        height: 100%;
        background: url(../img/advertising/present.png) center center/cover no-repeat;
    }
    &__presentTitle {
        padding-top: 47px;
        margin-bottom: 0;
        margin-top: 0;
        font-family: CormorantGaramond;
        font-style: normal;
        font-weight: 300;
        font-size: 72px;
        line-height: 107.8%;
        text-align: center;
        letter-spacing: -0.025em;
        color: #FFFFFF;
        text-align: center;
    }
    &__presentText {
        margin-top: 47px;
        padding-left: 111px;
        padding-right: 112px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.035em;
        color: #E3E3E3;
    }
    &__title {
        width: 100%;
        height: 100%;
        background: url(../img/advertising/titleStock.png) center center/cover no-repeat;
    }
    &__titleText {
        padding-left: 38px;
        padding-top: 272px;
        font-size: 25px;
        line-height: 110.8%;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__circle {
        position: absolute;
        bottom: -14px;
        right: -91px;
        width: 182px;
        height: 182px;
        border-radius: 50%;
        background-color: $main-color;
        font-size: 18px;
        line-height: 120.3%;
        letter-spacing: 0.105em;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
				cursor: pointer;
    }
}