.catalog {
    min-height: 887px;
    display: grid;
    grid-gap: 8px;
		background-color: $bg-color;
    &__sale {
        grid-area: sale;
        background: url("../img/catalog/sale.png") center center/cover no-repeat;
    }
    &__linkSale {
        display: block;
        padding-top: 330px;
        margin-left: 49px;
        text-decoration: none;
        font-size: 20px;
        line-height: 120.3%;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__linkChoose {
        margin-left: 49px;
        display: block;
        text-decoration: none;
        font-size: 16px;
        line-height: 252%;
        letter-spacing: 0.035em;
        color: #FFFFFF;
    }
    &__linkWrapper {
        margin-top: 29px;
    }
    &__appliances {
        grid-area: appliances;
        background: url(../img/catalog/appliances.png) center center/cover no-repeat;
    }
    &__linkAppliances {
        display: block;
        padding-top: 350px;
        margin-left: 40px;
        text-decoration: none;
        font-size: 20px;
        line-height: 120.3%;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__kitchen {
        grid-area: kitchen;
        background: url(../img/catalog/kitchen.png) center center/cover no-repeat;
    }
    &__linkKitchen {
        display: block;
        padding-top: 807px;
        margin-left: 40px;
        text-decoration: none;
        font-size: 20px;
        line-height: 120.3%;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__countertop {
        grid-area: countertop;
        background: url(../img/catalog/countertop.png) center center/cover no-repeat;
    }
    &__linkCountertop {
        display: block;
        text-decoration: none;
        padding-top: 137px;
        margin-left: 49px;
        font-size: 20px;
        line-height: 120.3%;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__case {
        grid-area: case;
        background: url(../img/catalog/case.png) center center/cover no-repeat;
    }
    &__linkCase {
        display: block;
        text-decoration: none;
        padding-top: 360px;
        margin-left: 40px;
        font-size: 20px;
        line-height: 120.3%;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-areas: 'sale appliances kitchen'
                        'sale appliances kitchen'
                        'sale case kitchen'
                        'countertop case kitchen';
}