.createKitchen {
    margin-top: 139px;
    position: absolute;
    width: 100%;
    z-index: 5;
    &__wrapper {
        min-height: 762px;
        background: url(../img/createKitchen.png) center center/cover no-repeat;
    }
    &__row {
        min-height: 104px;
    }
    &__column {
        min-height: 762px;
        width: 50%;
        background: rgba(255, 255, 255, 0.8);
    }
    &__title {
        margin: 0;
        padding-top: 90px;
        font-family: CormorantGaramond;
        font-weight: 500;
        font-size: 72px;
        line-height: 117.3%;
        color: #181818;
    }
    &__order {
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
    }
    &__year {
        font-size: 18px;
        line-height: 140%;
        color: #000000;
        display: block;
        margin: auto 0;
    }
    &__numberOrder {
        font-size: 45px;
        line-height: 56px;
        color: #373737;
        margin-left: 93px;
    }
}