.createKitchen {
    &__wrapper {
        min-height: 762px;
        background: url(../img/createKitchen.png) center center/cover no-repeat;
    }
    &__row {
        min-height: 104px;
    }
    &__column {
        min-height: 762px;
        padding-left: 158px;
        width: 40%;
        background: rgba(255, 255, 255, 0.8);
    }
    &__title {
        margin: 0;
        padding-top: 77px;
        font-family: CormorantGaramond;
        font-weight: 500;
        font-size: 72px;
        line-height: 117.3%;
        color: #181818;
    }
    &__descr {
        margin-top: 46px;
        padding-right: 161px;
        font-size: 16px;
        line-height: 140%;
        color: #494949;
    }
    &__form {
        margin-top: 60px;
        padding-right: 161px;
    }
    &__inputBlocks {
        display: flex;
        justify-content: space-between;
    }
    &__inputBlock {
        width: 100%;
        &:nth-child(2n) {
            margin-left: 35px;
        }
    }
    &__label {
        padding-left: 24px;
        display: block;
    }
    &__input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        width: 100%;
        padding-top: 8px;
    }
    &__button {
        margin-top: 40px;
        width: 606px;
        height: 70px;
        background-color: $main-color;
        border: none;
        font-size: 20px;
        color: #ffffff;
    }
    &__order {
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
    }
    &__year {
        font-size: 18px;
        line-height: 140%;
        color: #000000;
        display: block;
        margin: auto 0;
    }
    &__numberOrder {
        font-size: 45px;
        line-height: 56px;
        color: #373737;
        margin-left: 93px;
    }
    &__row {
        padding-right: 235px;
        padding-left: 270px;
        padding-top: 65px;
        padding-bottom: 66px;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    &__block {
        height: 104px;
        padding-left: 32px;
        padding-right: 104px;
        border-left: 2px solid rgba(50, 50, 50, 0.08);
        &:nth-child(4n) {
            padding-right: 0;
        }
    }
    &__subtitle {
        margin-top: 0;
        font-size: 20px;
        color: #131313;
    }
    &__text {
        margin-top: 19px;
        font-size: 16px;
        line-height: 20px;
        color: #868686;
    }
}