.designs {
    position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-content: stretch;
    min-height: 725px;
		background-color: $bg-color;
    &__title {
				position: absolute;
				top: 0;
        margin-left: 49px;
        font-family: CormorantGaramond;
        font-style: normal;
        font-weight: 300;
        font-size: 250px;
        line-height: 107.8%;
        letter-spacing: -0.025em;
        color: $main-color;
    }
    &__wrapperImg1 {
				width: 592px;
				height: 545px;
				background: url("../img/designs/img1.png")center center/cover no-repeat;
        position: absolute;
        top: 16px;
        right: 0;
    }
    &__wrapperImg2 {

				width: 651px;
				height: 469px;
				background: url("../img/designs/img2.png")center center/cover no-repeat;
        position: absolute;
        bottom: 0;
        right: 308px;
    }
}