.footer {
	position: relative;
	margin-top: 136px;
	&__devider {
		color: #ECECEC;
		margin: 0;
	}
	&__menu {
		min-height: 632px;
		background-color: $bg-color;
		padding-top: 65px;
		padding-left: 139px;
		padding-right: 175px;
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.135em;
		text-transform: uppercase;
		color: #323232;
	}
	&__menuItem {
		position: relative;
	}
	&__links {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		font-size: 16px;
		line-height: 42px;
		letter-spacing: 0.035em;
		color: #6A6A6A;
		text-transform: none;
	}
	&__link {
		text-decoration: none;
		color: #6A6A6A;
	}
	&__wrapperLink {
		display: flex;
		flex-direction: column;
	}
	&__phone {
		display: flex;
		flex-direction: column;
		text-align: end;
	}
	&__socialIcons {
		margin-top: 40px;
		display: flex;
		justify-content: flex-end;
	}
	&__socialIcon {
		margin-left: 9px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 46px;
		height: 46px;
		border: 1px solid #2B2B2B;
		text-decoration: none;
	}
	&__tel {
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.135em;
		text-transform: uppercase;
		color: #252525;
		text-decoration: none;
	}
	&__wrapperTitleLink {
		position: absolute;
		bottom: 71px;
	}
	&__titleLink {
		text-decoration: none;
		color: #323232;
	}
	&__PS {
		padding-left: 139px;
		padding-right: 150px;
		display: grid;
		grid-template-columns: 3fr 3fr 1fr;
		font-size: 16px;
		line-height: 42px;
		letter-spacing: 0.035em;
		color: #A0A0A0;
	}
	&__creditCard {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__contacts {
		position: absolute;
		top: 347px;
		right: 150px;
	}
	&__schedule {
		margin-top: 5px;
		font-size: 16px;
		line-height: 118.49%;
		letter-spacing: 0.035em;
		color: #A0A0A0;
	}
}