.form {
	margin-top: 60px;
	&_createKitchen {
		padding-right: 161px;
	}
	&__inputBlocks {
		display: flex;
		justify-content: space-between;
	}
	&__inputBlock {
		width: 100%;
		&:nth-child(2n) {
			margin-left: 35px;
		}
	}
	&__label {
		padding-left: 24px;
		display: block;
		color: #585858;
	}
	&__input {
		background: transparent;
		border: none;
		border-bottom: 1px solid #9D9D9D;
		width: 100%;
		padding-top: 8px;
	}
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__wrapperButton {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
}
