.invitation {
	display: flex;justify-content: flex-start;
	&__photo {
		width: 621px;
	}
	&__photoIMG {
		margin-top: -49px;
	}
	&__column {
		width: 100%;
		margin-left: 47px;
		margin-right: 150px;
	}
}