@media (max-width: 1800px) {
	.container {
		margin-left: 130px;
	}
	.createKitchen {
		&__title {
			font-size: 64px;
		}
	}
	.productCards {
		&__content {
			justify-content: space-between;
			margin-right: 15px;
		}
		&__card {
			margin-right: 10px;
		}
	}
	.form {
			&__inputBlock_right {
				margin-right: 30px;
			}
	}
	.terms {
		&__block {
			padding-right: 60px;
		}
	}
}

@media (max-width: 1650px) {
	.productCards {
		min-height: 1525px;
		&__card {
			margin-right: 20px;
			width: 363px;
			height: 523px;
		}
		&__wrapperItem {
			overflow: hidden;
			width: 363px;
			height: 435px;
		}
		&__itemAll {
			width: 363px;
			height: 435px;
		}
		&__titleProduct {
			font-size: 18px;
		}
		&__priceProduct {
			font-size: 18px;
		}
		&__descriptionProduct {
			font-size: 14px;
		}
		&__wrapperProperty {
			padding-top: 83px;
			margin-left: 36px;
		}
		&__rectangle {
			 margin-top: 27px;
			 width: 363px;
			 height: 61px;
			 font-size: 18px;
			 line-height: 70px;
	 	}
		&__property {
			margin-top: 19px;
		}
		&__titleProperty {
			font-size: 16px;
		}
		&__textProperty {
			font-size: 12px;
		}
		&__tabs {
			margin-right: 55px;
			overflow: hidden;
		}
	}

	.header {
		&__wrapperContacts {
			margin-right: 55px;
		}
		&__subheader {
			min-height: 87px;
			padding-right: 55px;
		}
		&__wrapperMenu {
			padding-right: 0;
		}
		&__catalogMenuBlock {
			height: 120px;
			overflow: hidden;
		}
		&__wrapperSubmenu {
			margin-top: 40px;
			padding-right: 83px;
			padding-left: 150px;
		}
		&__linkCatalog {
			font-size: 15px;
		}
		&__titleSubmenu {
			font-size: 18px;
		}
		&__linkSubmenu {
			font-size: 13px;
			line-height: 29px;
		}
		&__logo {
			padding-top: 9px;
		}
		&__call {
			margin-left: 50px;
		}
	}

	.createKitchen {
		&__column {
			width: 53%;
		}
	}

	.terms {
		&__row {
			padding: 75px 56px 58px 55px;
		}
		&__block {
			padding-left: 25px;
			padding-right: 28px;
		}
	}

	.sidebar {
		width: 375px;
		&__text {
			transform-origin: 0% 0;
			font-size: 300px;
			margin-bottom: -539px;
		}
	}

	.stock {
		&__circle {
			bottom: -119px;
			right: 210px;
		}
	}

	.designs {
		min-height: 605px;
		&__title {
			font-size: 200px;
		}
		&__wrapperImg1 {
			width: 428px;
			height: 384px;
		}
		&__wrapperImg2 {

			width: 505px;
			height: 359px;
		}
	}

	.workProcess {
		&__item {
			height: 530px;
		}
	}

	.choise {
		&__titleBlock {
			width: 1265px;
		}
	}

	.footer {
		&__menu {
			min-height: 560px;
			padding-left: 70px;
			padding-right: 120px;
			font-size: 16px;
		}
		&__contacts {
			right: 77px;
			top: 255px;
		}
		&__links {
			margin-top: 20px;
		}
		&__wrapperTitleLink {
			position: absolute;
			bottom: 51px;
		}
		&__phone {
			text-align: start;
		}
		&__socialIcons {
			justify-content: flex-start;
		}
		&__PS {
			padding-left: 62px;
			padding-right: 62px;
			font-size: 12px;
			grid-template-columns: 2fr 2fr 1fr;
		}
	}

	.form {
		&_createKitchen {
			width: 526px;
		}
	}

	.button {
		&_createKitchen {
			width: 530px;
		}
		&_designs {
			width: 423px;
		}
	}

	.ratings {
		min-height: 232px;
		margin: 69px 58px 64px 56px;
	}

	.customKitchen {
		min-height: 750px;
		&__wrapperPhoto {
			width: 582px;
			height: 594px;
		}
		&__leftColumn {
			padding-right: 135px;
		}
	}

	.invitation {
		&__column {
			margin-right: 62px;
		}
	}

	.title {
		font-size: 64px;
		&_customKitchen {
			margin-top: 45px;
			width: 500px;
		}
		&_workProcess {
			padding-left: 130px;
		}
	}

	.slider {
		&__arrows {
			&_choise {
				margin-right: 62px;
			}
			&_specialOffer {
				margin-right: 62px;
			}
			&_reviews {
				margin-right: 62px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.container {
		margin-left: 55px;
	}

	.title {
		&_choise {
			font-size: 40px;
		}
	}

	.form {
		&_invitation {
			margin-top: 77px;
		}
		&__approval_invitation {
			font-size: 12px;
		}
	}

	.header {
		&__wrapperSubmenu {
			padding-right: 85px;
			padding-left: 90px;
		}
	}

	.socialNetwork {
		min-height: 830px;
		&__rectangle {
			width: 285px;
			height: 586px;
			top: -38px;
		}
		&__gallery-item {
			width: 158px;
			height: 158px;
		}
	}

	.createKitchen {
		&__column {
			width: 60%;
		}
	}

	.terms {
		&__text {
			font-size: 14px;
		}
	}

	.advertising {
		min-height: 1231px;
	}

	.stock {
		&__wrapperDiscount {
			width: 519px;
			height: 609px;
		}
		&__discountTitle {
			font-size: 64px;

		}
		&__wrapperPresent {
			width: 583px;
			height: 336px;
			right: -550px;
		}
		&__wrapperTitle {
			width: 519px;
			height: 274px;
			margin-top: 63px;
			margin-left: 0;
		}
		&__presentTitle {
			font-size: 64px;
		}
		&__presentText {
			margin-top: 17px;
			padding-left: 40px;
		}
		&__circle {
			width: 146px;
			height: 146px;
			bottom: -93px;
			right: 260px;
			font-size: 16px;
		}
		&__titleText {
			padding-left: 32px;
			padding-top: 213px;
			font-size: 20px;
		}
	}
	.catalog {
		height: 1063px;
		display: grid;
		grid-gap: 8px;
		background-color: #fafafa;
		grid-template-rows:  repeat(27,1fr);
		grid-template-columns: 6fr 4fr;
		grid-template-areas:
        'sale appliances'
				'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
        'sale appliances'
				'sale case'
				'sale case'
				'sale case'
				'sale case'
        'countertop case'
				'countertop case'
				'countertop case'
				'countertop case'
				'countertop case'
				'countertop case'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
				'kitchen kitchen'
        'kitchen kitchen';

		&__linkWrapper	{
			display: none;
		}
		&__linkSale {
			padding-top: 450px;
		}
		&__linkAppliances {
			padding-top: 277px;
		}
		&__linkCountertop {
			padding-top: 165px;
		}
		&__linkCase{
			padding-top: 325px;
		}
		&__linkKitchen {
			padding-top: 243px;
			margin-left: 140px;
		}
	}

	.productCards {
		&__tab {
			padding-right: 44px;
		}
	}

	.designs {
		min-height: 620px;
		&__wrapperImg1 {
			top: 46px;
			right: -76px;
		}
		&__wrapperImg2 {
			right: 95px;
		}
	}

	.reviews {
		min-height: 635px;
		&__item {
			width: 672px;
			height: 260px;
		}
		&__leftColumn {
			width: 208px;
			height: 208px;
		}
		&__rightColumn {
			margin: 26px 35px 29px 0;
		}
		&__link {
			font-size: 16px;
		}
		&__description {
			margin-top: 16px;
		}
	}

	.ratings {
		margin: 69px 55px 64px 55px;
		&__header_1 {
			padding-right: 0px;
		}
		&__header_3 {
			padding-right: 0px;
		}
	}

	.socialNetwork {
		&__rightColumn {
			margin-left: 78px;
		}
		&__subscribe {
			margin-top: 64px;
		}
	}

	.descrText {
		&_socialNetwork {
			width: 430px;
			margin-top: 96px;
		}
		&_invitation {
			margin-top: 35px;
			width: 410px;
		}
	}

	.choise {
		&__titleBlock {
			width: 733px;
			height: 54px;
		}
		&__subtitle {
			font-size: 40px;
		}
		&__sliderItem {
			margin-right: 19px;
			&_even {
				margin-bottom: 19px;
			}
		}
		&__slider-img {
			object-fit: cover;
			width: 530px;
			height: 313px;
		}
		&__slider-imgLong {
			object-fit: cover;
			width: 537px;
			height: 645px;
		}
		&__sliderItem-video {
			width: 530px;
			height: 313px;
		}
	}

	.specialOffer {
		min-height: 800px;
		&__content {
			top: 40px;
			left: 52px;
		}
		&__img {
			width: 464px;
			height: 266px;
		}
		&__titleItem {
			font-size: 40px;
		}
		&__divider {
			width: 76px;
			margin-top: 44px;
		}
		&__text {
			font-size: 18px;
		}
	}

	.invitation {
		&__photoIMG {
			width: 365px;
			height: 500px;
		}
	}

	.footer {
		&__socialIcon {
			width: 38px;
			height: 38px;
		}
		&__menu {
			padding-left: 55px;
			padding-right: 55px;
			font-size: 15px;
		}
		&__contacts {
			right: 10px;
		}
		&__PS {
			padding-left: 55px;
			padding-right: 55px;
		}
	}
}
