.productCards {
	padding-bottom: 120px;
	padding-top: 109px;
	background-color: $bg-color;
	&__slider {
		margin-top: 53px;
	}
	&__tab {
			list-style-type: none;
			padding-right: 96px;
	}
	&__tabsLink {
			text-decoration: none;
			font-size: 20px;
			line-height: 25px;
			letter-spacing: 0.135em;
			text-transform: uppercase;
			color: #151515;
	}
	&__content {
			margin-top: -16px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		margin-right: 160px;
	}
	&__card {
			margin-top: 70px;
			width: 490px;
			height: 663px;
	}
	&__blockItem {
		width: 200%;
		&:hover {
			.productCards__item {
				transform: translateX(0);
			}
		}
	}
	&__wrapperItem {
		overflow: hidden;
		width: 490px;
		height: 586px;
	}
	&__wrapperItem_1 {
			background: url(../img/productCards/photo1.png) center center/cover no-repeat;
	}
	&__wrapperItem_2 {
			background: url(../img/productCards/photo2.png) center center/cover no-repeat;
	}
	&__wrapperItem_3 {
			background: url(../img/productCards/photo3.png) center center/cover no-repeat;
	}
	&__wrapperItem_4 {
			background: url(../img/productCards/photo4.png) center center/cover no-repeat;
	}
	&__wrapperItem_5 {
			background: url(../img/productCards/photo5.png) center center/cover no-repeat;
	}
	&__wrapperItem_6 {
			height: 628px;
	}
	&__item {
			position: relative;
			width: 50%;
			height: 586px;
			background: rgba(255, 255, 255, 0.3);
			margin-top: -82px;
			transform: translateX(-100%);
			transition: .5s all;

	}
	&__itemAll {
			background-color: #FF3D00;
			width: 100%;
			height: 100%;
	}
	&__calculateModel {
			position: absolute;
			top: 68px;
			right: 21px;
			width: 39px;
			height: 39px;
			color: #292929;
			border: solid 1px;
			display: flex;
			justify-content: center;
			align-items: center;
	}
	&__wrapperProperty {
			padding-top: 83px;
			margin-left: 36px;
	}
	&__property {
			margin-top: 44px;
			max-width: 203px;
	}
	&__titleProperty {
			margin-bottom: 0;
			font-size: 18px;
			line-height: 120.3%;
			letter-spacing: 0.105em;
			text-transform: uppercase;
			color: #323232;
	}
	&__textProperty {
			margin-top: 5px;
			font-size: 14px;
			line-height: 140%;
			letter-spacing: 0.035em;
			color: #585858;
	}

	&__rectangle {
			margin-top: 42px;
			width: 490px;
			height: 70px;
			background: #FF3D00;
			font-size: 20px;
			line-height: 70px;
			text-align: center;
			letter-spacing: 0.105em;
			text-transform: uppercase;
			color: #FFFFFF;
	}
	&__footer {
			margin-top: 23px;
			display: flex;
			justify-content: space-between;
	}
	&__titleProduct{
			margin: 0;
			font-size: 20px;
			line-height: 120.3%;
			letter-spacing: 0.105em;
			text-transform: uppercase;
			color: #323232;
	}
	&__descriptionProduct{
			margin-top: 4px;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.035em;
			color: #323232;
	}
	&__priceProduct {
			font-size: 20px;
			line-height: 120.3%;
			text-align: right;
			letter-spacing: 0.105em;
			text-transform: uppercase;
			color: #323232;
	}
	&__linkAllModel {
			padding-right: 12px;
			font-size: 20px;
			line-height: 120.3%;
			letter-spacing: 0.105em;
			text-transform: uppercase;
			color: #FFFFFF;
			cursor: pointer;
			text-decoration: none;
	}
	&__nameModel {
			padding-top: 135px;
			margin-top: 0;
			margin-bottom: 0;
			text-align: center;
			font-family: CormorantGaramond;
			font-style: normal;
			font-weight: 300;
			font-size: 72px;
			line-height: 107.8%;
			letter-spacing: -0.025em;
			color: #FFFFFF;

	}
	&__textSale {
			margin-top: 19px;
			text-align: center;
			font-size: 16px;
			line-height: 120.3%;
			letter-spacing: 0.105em;
			text-transform: uppercase;
			color: #FFFFFF;
	}
	&__watchAll {
			display: flex;
			justify-content: center;
			margin-top: 270px;
	}
	&__wrapperLinkAllModel {
			display: none;
			margin-top: 50px;
			width: 272px;
			height: 50px;
			background-color: $main-color;
			align-items: center;
			justify-content: center;
	}
}