.ratings {
	min-height: 261px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 69px 179px 64px 161px;
	&__block {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__header {
		&_1 {
			padding-right: 20px;
		}
		&_2 {
			padding-right: 0;
		}
		&_3 {
			padding-right: 30px;
		}
	}
	&__footer {
		text-align: center;
		font-size: 16px;
		line-height: 118.49%;
		letter-spacing: 0.035em;

		color: #171717;
	}
	&__number {
		padding-right: 10px;
		font-size: 45px;
		line-height: 56px;
		color: #323232;
	}
}