.ratings {
	min-height: 261px;
	&__slider {
		padding-top: 55px;
	}
	&__block {
		display: flex;
		justify-content: space-around;
		align-items: center;
		cursor: pointer;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_1 {
			padding-right: 20px;
		}
		&_2 {
			padding-right: 0;
		}
		&_3 {
			padding-right: 30px;
		}
	}
	&__footer {
		text-align: center;
		font-size: 16px;
		line-height: 118.49%;
		letter-spacing: 0.035em;

		color: #171717;
	}
	&__number {
		padding-right: 10px;
		font-size: 45px;
		line-height: 56px;
		color: #323232;
	}
	&__company {
		margin-right: 204px;
	}
}