.terms {
    padding-top: 901px;
    z-index: 6;
    background-color: #ffffff;
    &__block {
        min-height: 104px;
        padding-left: 32px;
        padding-right: 104px;
        border-left: 2px solid rgba(50, 50, 50, 0.08);
        &:nth-child(4n) {
            padding-right: 0;
        }
    }
    &__subtitle {
				text-transform: uppercase;
				letter-spacing: 0.105em;
        margin-top: 0;
        font-size: 20px;
        color: #131313;
    }
    &__text {
        margin-top: 19px;
        font-size: 16px;
        line-height: 20px;
        color: #868686;
    }
    &__row {
				padding: 65px 235px 66px 110px;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
}