body {
    font-family: 'Averta';
    margin: 0;
}
.headerCreateKitchen {
    position: relative;
}
@import 'src/styles/scss/base/_fonts.scss';
@import 'src/styles/scss/base/_variables.scss';
@import 'src/styles/scss/blocks/_header.scss';
@import 'src/styles/scss/blocks/_createKitchen.scss';
@import 'src/styles/scss/blocks/_terms.scss';
@import 'src/styles/scss/blocks/_advertising.scss';
@import 'src/styles/scss/blocks/_catalog.scss';
@import 'src/styles/scss/blocks/_productCards.scss'